*{
  margin: 0;
  padding: 0;
  color: blueviolet;
}
div button{
  padding: 10px;
  margin: 10px 15px;
  border-radius: 10px;
  color: rgb(21, 20, 20);
  background-color: aqua;
  font-size: medium;

}
.inpt input{
  padding: 5px;
  margin: 10px 15px;
  border-radius: 8px;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: red;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color:grey;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: green;
}