*{
  margin: 0;
  padding: 0;
  color: black;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: underline;
  font-size: 100px;
  white-space: nowrap;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: aqua;
}
.nav div{
  display: flex;
  align-items: center;
  gap: 60px;
}