*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(243, 233, 233);
  width: 100%;
  height: 100%;
}
.cards{
  background-color: pink;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
