*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.parent{
  min-height: 100vh;
display: flex;
align-items: center;
gap: 40px;
flex-direction: row;
padding: 5px;
flex-wrap: wrap;
margin-top: 5px;
}
.card{
  height: 350px;
  width: 300px;
  border: 2px solid white;
  border-radius: 30px;
  padding: 20px;
  background-color: white;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 6px;
}
.top button{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px;
  color: grey;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;

}

.center{
  margin-top: 30px;
}
.center span{
  color: grey;
  font-size: 11px;
  font-weight: 560;
}
 .center h4{
  color: black;
  font-size: 18px;
 }
 .center h3{
  margin-top: 7px;
  color: black;
  font-size: 23px;
  font-weight: 700;
 }
 .tag{
  display: flex;
  align-items: center;
  gap: 12px;
 }
 .tag p{
  background-color: rgb(231, 223, 223);
  border: 2px solid grey;
  color: black;
  padding: 6px;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  font-weight: 500;
 }
.bottom{
  padding: 10px;
  margin-top:70px ;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.bottom h4{
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.bottom button {
  color: black;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: 600;
}
.location p{
  color: rgb(163, 151, 151);
  font-size: 11px;
  font-weight: 600;
  margin-left: 10px;

}



